<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./styles.css" />
		<link rel="stylesheet" href="./breakpoints.css" />
		<title>Mini-Message-Board | Register</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="register-form">
				<form action="/register" method="post">
					<div class="register-label">
						<h1>
							Input <br />
							your username
						</h1>
						<input type="text" name="user" id="user" />
					</div>
					<input type="submit" />
				</form>
			</div>
		</div>
	</body>
</html>
